USE [master]
GO
/****** Object:  Database [FarmaPlus]    Script Date: 11/27/2020 13:47:38 ******/
CREATE DATABASE [FarmaPlus] ON  PRIMARY 
( NAME = N'FarmaPlus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DAVORSQLR2\MSSQL\DATA\FarmaPlus.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FarmaPlus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.DAVORSQLR2\MSSQL\DATA\FarmaPlus_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FarmaPlus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FarmaPlus]
GO
/****** Object:  Table [dbo].[tblVrstaZivotinje]    Script Date: 11/27/2020 13:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVrstaZivotinje](
	[VrstaZivotinjeID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VrstaZivotinje] PRIMARY KEY CLUSTERED 
(
	[VrstaZivotinjeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblVrstaZivotinje] ON
INSERT [dbo].[tblVrstaZivotinje] ([VrstaZivotinjeID], [Naziv]) VALUES (1, N'Govedo')
INSERT [dbo].[tblVrstaZivotinje] ([VrstaZivotinjeID], [Naziv]) VALUES (2, N'Konj')
INSERT [dbo].[tblVrstaZivotinje] ([VrstaZivotinjeID], [Naziv]) VALUES (3, N'Svinja')
SET IDENTITY_INSERT [dbo].[tblVrstaZivotinje] OFF
/****** Object:  Table [dbo].[tblZupanija]    Script Date: 11/27/2020 13:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblZupanija](
	[ZupanijaID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tblZupanija] PRIMARY KEY CLUSTERED 
(
	[ZupanijaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblZupanija] ON
INSERT [dbo].[tblZupanija] ([ZupanijaID], [Naziv]) VALUES (1, N'Krapinsko-zagorska')
INSERT [dbo].[tblZupanija] ([ZupanijaID], [Naziv]) VALUES (2, N'Sisacko-moslavacka')
INSERT [dbo].[tblZupanija] ([ZupanijaID], [Naziv]) VALUES (3, N'Karlovacka')
SET IDENTITY_INSERT [dbo].[tblZupanija] OFF
/****** Object:  Table [dbo].[tblGospodarstvo]    Script Date: 11/27/2020 13:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGospodarstvo](
	[GospodarstvoID] [int] IDENTITY(1,1) NOT NULL,
	[JIBG] [nvarchar](10) NOT NULL,
	[Naziv] [nvarchar](50) NULL,
	[Ulica] [nvarchar](50) NULL,
	[KucniBroj] [smallint] NULL,
	[PostanskiBroj] [int] NULL,
	[ZupanijaID] [int] NULL,
 CONSTRAINT [PK_tblGospodarstvo] PRIMARY KEY CLUSTERED 
(
	[GospodarstvoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblGospodarstvo] ON
INSERT [dbo].[tblGospodarstvo] ([GospodarstvoID], [JIBG], [Naziv], [Ulica], [KucniBroj], [PostanskiBroj], [ZupanijaID]) VALUES (1, N'HR00147894', N'OPG Dragan Resanović', N'Gvozdansko', 79, 44440, 2)
SET IDENTITY_INSERT [dbo].[tblGospodarstvo] OFF
/****** Object:  Table [dbo].[tblPosjednik]    Script Date: 11/27/2020 13:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPosjednik](
	[PosjednikID] [int] IDENTITY(1,1) NOT NULL,
	[GospodarstvoID] [int] NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](50) NULL,
 CONSTRAINT [PK_Vlasnik] PRIMARY KEY CLUSTERED 
(
	[PosjednikID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblPosjednik] ON
INSERT [dbo].[tblPosjednik] ([PosjednikID], [GospodarstvoID], [Email], [Ime], [Prezime], [Telefon]) VALUES (1, 1, N'', N'Dragan', N'Resanović', N'')
SET IDENTITY_INSERT [dbo].[tblPosjednik] OFF
/****** Object:  Table [dbo].[tblUsrPsw]    Script Date: 11/27/2020 13:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsrPsw](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[PosjednikID] [int] NULL,
	[Validan] [bit] NULL,
 CONSTRAINT [PK_tblUsrPsw] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblUsrPsw] ON
INSERT [dbo].[tblUsrPsw] ([ID], [Username], [Password], [Email], [PosjednikID], [Validan]) VALUES (1, N'dresanovic', N'123456', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[tblUsrPsw] OFF
/****** Object:  Table [dbo].[tblGovedo]    Script Date: 11/27/2020 13:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGovedo](
	[GovedoID] [int] IDENTITY(1,1) NOT NULL,
	[PosjednikID] [int] NULL,
	[VrstaZivotinjeID] [int] NULL,
	[Ime] [nvarchar](50) NULL,
	[DatumRodenja] [date] NULL,
	[Spol] [nvarchar](1) NULL,
	[Pasmina] [nvarchar](50) NULL,
	[MajkaKodDrzave] [nvarchar](3) NULL,
	[MajkaZivotniBroj] [nvarchar](12) NULL,
	[MajkaIme] [nvarchar](50) NULL,
	[OtacKodDrzave] [nvarchar](3) NULL,
	[OtacHbBroj] [nvarchar](11) NULL,
	[OtacIme] [nvarchar](50) NULL,
	[DatumUpisaURegistar] [date] NULL,
	[Napomena] [nvarchar](500) NULL,
	[Aktivno] [bit] NULL,
 CONSTRAINT [PK_tblGovedo] PRIMARY KEY CLUSTERED 
(
	[GovedoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblGovedo] ON
INSERT [dbo].[tblGovedo] ([GovedoID], [PosjednikID], [VrstaZivotinjeID], [Ime], [DatumRodenja], [Spol], [Pasmina], [MajkaKodDrzave], [MajkaZivotniBroj], [MajkaIme], [OtacKodDrzave], [OtacHbBroj], [OtacIme], [DatumUpisaURegistar], [Napomena], [Aktivno]) VALUES (1, 1, 1, N'Dudek', CAST(0xE6400B00 AS Date), N'M', N'Sim', N'HR', N'0200428132', N'Zagorka', N'01', N'000008704', N'Romeo', CAST(0xEC400B00 AS Date), NULL, 1)
INSERT [dbo].[tblGovedo] ([GovedoID], [PosjednikID], [VrstaZivotinjeID], [Ime], [DatumRodenja], [Spol], [Pasmina], [MajkaKodDrzave], [MajkaZivotniBroj], [MajkaIme], [OtacKodDrzave], [OtacHbBroj], [OtacIme], [DatumUpisaURegistar], [Napomena], [Aktivno]) VALUES (2, 1, 1, N'Luna', CAST(0x26410B00 AS Date), N'M', N'Sim', N'HR', N'4102031656', N'Lemka', N'01', N'350008369', N'Wamures', CAST(0x4D3E0B00 AS Date), NULL, 1)
INSERT [dbo].[tblGovedo] ([GovedoID], [PosjednikID], [VrstaZivotinjeID], [Ime], [DatumRodenja], [Spol], [Pasmina], [MajkaKodDrzave], [MajkaZivotniBroj], [MajkaIme], [OtacKodDrzave], [OtacHbBroj], [OtacIme], [DatumUpisaURegistar], [Napomena], [Aktivno]) VALUES (3, 1, 1, N'Sara', CAST(0xFA3E0B00 AS Date), NULL, N'Sim', N'HR', N'5101916760', N'Doris', N'01', N'35008402', N'Polasser', CAST(0x013F0B00 AS Date), NULL, 0)
SET IDENTITY_INSERT [dbo].[tblGovedo] OFF
/****** Object:  Table [dbo].[tblZivotinja]    Script Date: 11/27/2020 13:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblZivotinja](
	[ZivotinjaID] [int] IDENTITY(1,1) NOT NULL,
	[PosjednikID] [int] NOT NULL,
	[VrstaZivotinjeID] [int] NOT NULL,
	[OznakaUsneMarkice] [nvarchar](13) NOT NULL,
	[DatumUvoza] [date] NULL,
	[GovedoID] [int] NULL,
	[KonjID] [int] NULL,
	[SvinjaID] [int] NULL,
	[OvcaID] [int] NULL,
	[KozaID] [int] NULL,
	[MagaracID] [int] NULL,
	[NojID] [int] NULL,
	[Aktivna] [bit] NULL,
 CONSTRAINT [PK_Zivotinja] PRIMARY KEY CLUSTERED 
(
	[ZivotinjaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblZivotinja] ON
INSERT [dbo].[tblZivotinja] ([ZivotinjaID], [PosjednikID], [VrstaZivotinjeID], [OznakaUsneMarkice], [DatumUvoza], [GovedoID], [KonjID], [SvinjaID], [OvcaID], [KozaID], [MagaracID], [NojID], [Aktivna]) VALUES (1, 1, 1, N'HR6201194704', NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tblZivotinja] ([ZivotinjaID], [PosjednikID], [VrstaZivotinjeID], [OznakaUsneMarkice], [DatumUvoza], [GovedoID], [KonjID], [SvinjaID], [OvcaID], [KozaID], [MagaracID], [NojID], [Aktivna]) VALUES (2, 1, 1, N'HR9201084020', NULL, 2, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[tblZivotinja] ([ZivotinjaID], [PosjednikID], [VrstaZivotinjeID], [OznakaUsneMarkice], [DatumUvoza], [GovedoID], [KonjID], [SvinjaID], [OvcaID], [KozaID], [MagaracID], [NojID], [Aktivna]) VALUES (3, 1, 1, N'HR0201098224', NULL, 3, NULL, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tblZivotinja] OFF
/****** Object:  ForeignKey [FK_tblGospodarstvo_tblZupanija]    Script Date: 11/27/2020 13:47:38 ******/
ALTER TABLE [dbo].[tblGospodarstvo]  WITH CHECK ADD  CONSTRAINT [FK_tblGospodarstvo_tblZupanija] FOREIGN KEY([ZupanijaID])
REFERENCES [dbo].[tblZupanija] ([ZupanijaID])
GO
ALTER TABLE [dbo].[tblGospodarstvo] CHECK CONSTRAINT [FK_tblGospodarstvo_tblZupanija]
GO
/****** Object:  ForeignKey [FK_tblPosjednik_tblGospodarstvo]    Script Date: 11/27/2020 13:47:38 ******/
ALTER TABLE [dbo].[tblPosjednik]  WITH CHECK ADD  CONSTRAINT [FK_tblPosjednik_tblGospodarstvo] FOREIGN KEY([GospodarstvoID])
REFERENCES [dbo].[tblGospodarstvo] ([GospodarstvoID])
GO
ALTER TABLE [dbo].[tblPosjednik] CHECK CONSTRAINT [FK_tblPosjednik_tblGospodarstvo]
GO
/****** Object:  ForeignKey [FK_tblUsrPsw_tblPosjednik1]    Script Date: 11/27/2020 13:47:38 ******/
ALTER TABLE [dbo].[tblUsrPsw]  WITH CHECK ADD  CONSTRAINT [FK_tblUsrPsw_tblPosjednik1] FOREIGN KEY([PosjednikID])
REFERENCES [dbo].[tblPosjednik] ([PosjednikID])
GO
ALTER TABLE [dbo].[tblUsrPsw] CHECK CONSTRAINT [FK_tblUsrPsw_tblPosjednik1]
GO
/****** Object:  ForeignKey [FK_tblGovedo_tblPosjednik]    Script Date: 11/27/2020 13:47:38 ******/
ALTER TABLE [dbo].[tblGovedo]  WITH CHECK ADD  CONSTRAINT [FK_tblGovedo_tblPosjednik] FOREIGN KEY([PosjednikID])
REFERENCES [dbo].[tblPosjednik] ([PosjednikID])
GO
ALTER TABLE [dbo].[tblGovedo] CHECK CONSTRAINT [FK_tblGovedo_tblPosjednik]
GO
/****** Object:  ForeignKey [FK_tblGovedo_tblVrstaZivotinje]    Script Date: 11/27/2020 13:47:38 ******/
ALTER TABLE [dbo].[tblGovedo]  WITH CHECK ADD  CONSTRAINT [FK_tblGovedo_tblVrstaZivotinje] FOREIGN KEY([VrstaZivotinjeID])
REFERENCES [dbo].[tblVrstaZivotinje] ([VrstaZivotinjeID])
GO
ALTER TABLE [dbo].[tblGovedo] CHECK CONSTRAINT [FK_tblGovedo_tblVrstaZivotinje]
GO
/****** Object:  ForeignKey [FK_tblZivotinja_tblGovedo]    Script Date: 11/27/2020 13:47:38 ******/
ALTER TABLE [dbo].[tblZivotinja]  WITH CHECK ADD  CONSTRAINT [FK_tblZivotinja_tblGovedo] FOREIGN KEY([GovedoID])
REFERENCES [dbo].[tblGovedo] ([GovedoID])
GO
ALTER TABLE [dbo].[tblZivotinja] CHECK CONSTRAINT [FK_tblZivotinja_tblGovedo]
GO
/****** Object:  ForeignKey [FK_tblZivotinja_tblPosjednik]    Script Date: 11/27/2020 13:47:38 ******/
ALTER TABLE [dbo].[tblZivotinja]  WITH CHECK ADD  CONSTRAINT [FK_tblZivotinja_tblPosjednik] FOREIGN KEY([PosjednikID])
REFERENCES [dbo].[tblPosjednik] ([PosjednikID])
GO
ALTER TABLE [dbo].[tblZivotinja] CHECK CONSTRAINT [FK_tblZivotinja_tblPosjednik]
GO
/****** Object:  ForeignKey [FK_tblZivotinja_tblVrstaZivotinje]    Script Date: 11/27/2020 13:47:38 ******/
ALTER TABLE [dbo].[tblZivotinja]  WITH CHECK ADD  CONSTRAINT [FK_tblZivotinja_tblVrstaZivotinje] FOREIGN KEY([VrstaZivotinjeID])
REFERENCES [dbo].[tblVrstaZivotinje] ([VrstaZivotinjeID])
GO
ALTER TABLE [dbo].[tblZivotinja] CHECK CONSTRAINT [FK_tblZivotinja_tblVrstaZivotinje]
GO
